.container {
  margin-top: 50px;
}

:root {
  --main-color: #ffc500 !important;
}

.box_shadow {
  box-shadow: 0px 2px 92px 0px rgb(0 0 0 / 7%);
  -webkit-box-shadow: 0px 2px 92px 0px rgb(0 0 0 / 7%);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.main_content {
  background-color: #fff;
  min-height: 100vh;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 30px;
}

.section_title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section_title .section_title_text {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title span {
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  opacity: 0.4;
  left: 0;
  background-color: var(--main-color);
}

.section {
  padding: 30px;
  padding-top: 50px;
}

.graybg {
  background-color: #fafafa;
}
